{%extends 'WebLucianoApp/home.html'%}
{%block title%}<title>About Me</title>{%endblock%}
{%block text%}
<div>
    <section>
        <article>
            <h1>About Me</h1>
            <hr>
            <p style="font-size:30px;">
                 Hello my name is Luciano, I am a Python web programmer with knowledge in Django, Html and Css. I studied at CoderHouse, here you can see my certificate(<a target="_blank" style="color: rgb(244, 248, 8);" href="https://www.coderhouse.com/certificados/633d28ff6d46ee000ec3da64">Certification</a>). 
                 I do freelance projects to improve my skills every day, in my future I hope to continue studying to meet the requirements of a Python web programmer or even follow 
                 my way through data science. I hope this has helped you to know a little more about me and thank you for visiting my website.
            </p>
        </article>
        <hr>
        <article>
            <h3>Links to my social media:</h3>
            <a target="_blank" class="btn btn-primary btn-social mx-2" href="https://www.linkedin.com/in/luciano-benjamin-lezana-1937b624b/"aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank" class="btn btn-primary btn-social mx-2" href="https://www.instagram.com/luciano.lzn/?hl=es-la"aria-label="LinkedIn"><i class="fab fa-instagram"></i></a>
            <a target="_blank" class="btn btn-primary btn-social mx-2" href="https://github.com/LucianoLezana"aria-label="LinkedIn"><i class="fab fa-github"></i></a>

        </article>
    
    </section>
</div>
{%endblock%}