{%extends 'WebLucianoApp/home.html'%}
{%block title%}<title>About Me</title>{%endblock%}
{%block text%}
<div>
    <section>
        <article>
            <h1>About Me</h1>
            <hr>
            <h2>
                 Hola mi nombre es Luciano, soy un programador de Python con conocimientos de Django, Html y Css. Mi estudio lo realice en CoderHouse,
                 aqui puedes ver mi certificado (<a style="color: rgb(244, 248, 8);" href="https://www.coderhouse.com/certificados/633d28ff6d46ee000ec3da64">Certificacion</a>).
                 Ultimamente me encuentro realizando projectos de forma freelance para mejorar cada dia mas y mi futuro sera Data science. Espero esto te haya ayudado a saber 
                 un poco mas de mi y gracias por visitarme. 
            </h2>
        </article>
        <hr>
        <article>
            <h3>Links to my social media:</h3>
            <a class="btn btn-primary btn-social mx-2" href="https://www.linkedin.com/in/luciano-lezana-1937b624b/"aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-social mx-2" href="https://www.instagram.com/luciano.lzn/?hl=es-la"aria-label="LinkedIn"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-primary btn-social mx-2" href="https://github.com/LucianoLezana"aria-label="LinkedIn"><i class="fab fa-github"></i></a>

        </article>
    
    </section>
</div>
{%endblock%}