{%extends 'WebLucianoApp/home.html'%}
{%block title%}<title>Contact Me</title>{%endblock%}
{%block text%}
<div>
    <section>
        <article>
            <h1>TRABAJANDO EN ELLO</h1>
            <p style="font-size: 20px;">No tardaremos en subir este apartado, gracias por la paciencia...</p>
            <img src="https://t3.ftcdn.net/jpg/02/38/52/18/360_F_238521876_1AamiaGkeyM56KiYskEJPuNCZoU1j9ha.jpg" alt="..." width="300px">
        </article>
        <hr>
        <article>
            <h3>Links to my social media:</h3>
            <a class="btn btn-primary btn-social mx-2" href="https://www.linkedin.com/in/luciano-lezana-1937b624b/"aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-social mx-2" href="https://www.instagram.com/luciano.lzn/?hl=es-la"aria-label="LinkedIn"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-primary btn-social mx-2" href="https://github.com/LucianoLezana"aria-label="LinkedIn"><i class="fab fa-github"></i></a>

        </article>
    
    </section>
</div>
{%endblock%}