{%extends 'WebLucianoApp/home.html'%}
{%block title%}<title>Projects</title>{%endblock%}
{%block text%}
<div>
    <section>
        <article>
            <h3>Blog Django</h3>
            <p style="font-size:20px;">I made a shared project with a classmate which consisted in making a blog type website, with a login, register, post, upload images, etc.. 
                This project was the one that led me to get certified in Python, we used Django, Css and Html, obviously Python was also included in the backend. 
                If you want to see it I leave you a little demo video (<a target="_blank" href="https://www.loom.com/share/bbabaf53fa0e4b25af148132f9efe65e" style="color: rgb(244, 248, 8);">Ir alli</a>).
            </p>
        </article>
        <hr>
        <article>
            <h3>Web tipo plataforma de estudio</h3>
            <p style="font-size:20px;">Previously to the above project I made a test web page to make a web platform of study, in which you could create a profile as a teacher and be assigned 
                to a career that has been created, there was also a section of students which allowed you to register and be able to enroll in the classes already created. 
                This project was carried out more to work the databases, anyway I leave you my git repository where the project is. (<a target="_blank" href="https://github.com/LucianoLezana/Entrega1_Seigneur_Lezana" style="color: rgb(244, 248, 8);">Ir alli</a>).
            </p>
        </article>
        <hr>
        <article>
            <h3>Links to my social media:</h3>
            <a target="_blank" class="btn btn-primary btn-social mx-2" href="https://www.linkedin.com/in/luciano-benjamin-lezana-1937b624b/"aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank" class="btn btn-primary btn-social mx-2" href="https://www.instagram.com/luciano.lzn/?hl=es-la"aria-label="LinkedIn"><i class="fab fa-instagram"></i></a>
            <a target="_blank" class="btn btn-primary btn-social mx-2" href="https://github.com/LucianoLezana"aria-label="LinkedIn"><i class="fab fa-github"></i></a>

        </article>
    
    </section>
</div>
{%endblock%}