{%extends 'WebLucianoApp/home.html'%}
{%block title%}<title>Projects</title>{%endblock%}
{%block text%}
<div>
    <section>
        <article>
            <h3>Blog Django</h3>
            <p style="font-size:20px;">Realice un proyecto compartido con una compañera de curso el cual consistia en realiza una pagina web tipo blog, con un login, register, poder postear,
                subir imagenes, etc. Este proyecto fue el que me llevo a obtener la certificacion en Python, usamos Django, Css y Html, obviamente Python tambien estuvo incluido en el backend.
                Si lo deseas ver te dejo un pequeño video demostrativo (<a target="_blank" href="https://www.loom.com/share/bbabaf53fa0e4b25af148132f9efe65e" style="color: rgb(244, 248, 8);">Ir alli</a>).
            </p>
        </article>
        <hr>
        <article>
            <h3>Web tipo plataforma de estudio</h3>
            <p style="font-size:20px;">Anterior al proyecto de arriba realice una pagina web de prueba para hacer un plataforma web de estudio, en la cual podrias crear un perfil como profesor y ser asignado
                a alguna carrera que haya estado creada, tambien habia un apartado de alumnos el cual te permitia registrarte y poder inscribirte en las clases ya creadas. Este proyecto
                fue llevado a cabo mas para trabajar las bases de datos, de todas formas te dejo mi repositorio de git en donde esta el proyecto (<a target="_blank" href="https://github.com/LucianoLezana/Entrega1_Seigneur_Lezana" style="color: rgb(244, 248, 8);">Ir alli</a>).
            </p>
        </article>
        <hr>
        <article>
            <h3>Links to my social media:</h3>
            <a target="_blank" class="btn btn-primary btn-social mx-2" href="https://www.linkedin.com/in/luciano-benjamin-lezana-1937b624b/"aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank" class="btn btn-primary btn-social mx-2" href="https://www.instagram.com/luciano.lzn/?hl=es-la"aria-label="LinkedIn"><i class="fab fa-instagram"></i></a>
            <a target="_blank" class="btn btn-primary btn-social mx-2" href="https://github.com/LucianoLezana"aria-label="LinkedIn"><i class="fab fa-github"></i></a>

        </article>
    
    </section>
</div>
{%endblock%}